@model HomeModel;
@{
    ViewData["Title"] = "TV7 Playlist";
}

<table class="table table-hover table-striped">
    <tr>
        <th>Position</th>
        <th>Number</th>
        <th>Name</th>
        <th>Name override</th>
        <th>Enabled</th>
        <th>URL</th>
    </tr>

    @{
    foreach (var track in Model.Tracks)
    {
        <tr>
            <td></td>
            <td>@track.Id</td>
            <td>@track.Name</td>
            <td></td>
            <td></td>
            <td>@track.Url</td>
        </tr>
    }
}
</table>